# MongoDB
mongodb+srv://pixeldewads_db_user:@Pixel2025@cluster0.swpraxf.mongodb.net/?appName=Cluster0
# Anthropic API
ANTHROPIC_API_KEY=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

# Next.js
NEXT_PUBLIC_APP_URL=cms-mu-pearl.vercel.app

# Buffer
# BUFFER_ACCESS_TOKEN=p2QlLHb4BKN6eB9Zibgsql5eYFqkW8EUgShOaaEQJmp

